.container {
  border-top: 2px solid #093335;
  border-left: 1px solid #376565;
  border-right: 1px solid #376565;
  border-bottom: 5px solid #093335;
  border-radius: 40px;
  margin: 0 auto;
  background: linear-gradient(#8fc3b1, #73a896);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 100%;
}
