@import url("./container.css");
@import url("./calculatrice.css");
@import url("./screen.css");
@import url("./border.css");
@import url("./responsive.css");

* {
  box-sizing: border-box;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
body {
  background: whitesmoke;
  height: 100vh;
}
