@media screen and (max-width: 425px) {
  .container {
    width: 100%;
    margin: 0 auto;
    /* height: 100%; */
  }
  .possibilities {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  @media screen and (orientation: landscape) {
    .container {
      width: 30%;
      margin: 10px auto;
      max-height: calc(100% - (2 * 10px));
    }
  }
}
